In [76]:
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區", 
                   "安南區", "三民區", "大安區", "永和區", 
                   "八德區", "前鎮區", "鳳山區", 
                   "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125, 
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}
         
ordinals =["first", "second", "third", "fourth", "fifth",
           "sixth", "seventh", "eigth", "ninth", "tenth",
           "eleventh", "twelvth", "thirteenth"]         
df = pd.DataFrame(dists, 
                  columns = ["name", "city", "population"],
                  index=ordinals) 

df
print(df)
df.to_html("ch2-3.html")  
print("---------------------------")
df2 = pd.DataFrame(dists, index=ordinals)
df2.columns = ["name", "city", "population"]
print(df2)

           name city  population
first       中正區  台北市      159598
second      板橋區  新北市      551452
third       桃園區  桃園市      441287
fourth      北屯區  台中市      275207
fifth       安南區  台南市      192327
sixth       三民區  高雄市      343203
seventh     大安區  台北市      309835
eigth       永和區  新北市      222531
ninth       八德區  桃園市      198473
tenth       前鎮區  高雄市      189623
eleventh    鳳山區  高雄市      359125
twelvth     信義區  台北市      225561
thirteenth  新店區  新北市      302070
---------------------------
           name    city population
first       中正區  159598        台北市
second      板橋區  551452        新北市
third       桃園區  441287        桃園市
fourth      北屯區  275207        台中市
fifth       安南區  192327        台南市
sixth       三民區  343203        高雄市
seventh     大安區  309835        台北市
eigth       永和區  222531        新北市
ninth       八德區  198473        桃園市
tenth       前鎮區  189623        高雄市
eleventh    鳳山區  359125        高雄市
twelvth     信義區  225561        台北市
thirteenth  新店區  302070        新北市

In [74]:
# 給我台北市的所有區域的資料
dists = {'name':['信義區','大安區','松山區'],
         'city':['台北市','台北市','台北市'],
         }

number = [100000, 200000, 300000] 

dists['name'][0] = '七堵區' 
dists['city'][0] = '基隆市' 
dists['name'] = [name.replace('區','')for name in dists['name']] #刪除區字
df =pd.DataFrame(dists, index=number)   
df

       name city
100000   七堵  基隆市
200000   大安  台北市
300000   松山  台北市

In [75]:
dists['name'] = [name+'區' for name in dists['name']]
df =pd.DataFrame(dists, index=number)   
df

       name city
100000  七堵區  基隆市
200000  大安區  台北市
300000  松山區  台北市