In [3]:
import pandas as pd
df = pd.read_csv("dists.csv", encoding="utf8")
print(df.head())  # 印出前五筆資料
print(df.shape)  # 印出資料的形狀 (13, 3)

  name  population city
0  中正區      159598  台北市
1  板橋區      551452  新北市
2  桃園區      441287  桃園市
3  北屯區      275207  台中市
4  安南區      192327  台南市
(13, 3)

In [4]:
df2 = df.set_index("city") # 將 "city" 列作為索引
print(df2.head())
print("---------------------------")
df3 =df2.reset_index() # 重設索引
print(df3)
# df3 = df2.reset_index()
# print(df3.head())

     name  population
city
台北市   中正區      159598
新北市   板橋區      551452
桃園市   桃園區      441287
台中市   北屯區      275207
台南市   安南區      192327
---------------------------
   city name  population
0   台北市  中正區      159598
1   新北市  板橋區      551452
2   桃園市  桃園區      441287
3   台中市  北屯區      275207
4   台南市  安南區      192327
5   高雄市  三民區      343203
6   台北市  大安區      309835
7   新北市  永和區      222531
8   桃園市  八德區      198473
9   高雄市  前鎮區      189623
10  高雄市  鳳山區      359125
11  台北市  信義區      225561
12  新北市  新店區      302070

In [5]:
df2 = df.set_index(["city","name"]) #以 city 和 name 為索引
df2.sort_index(ascending=False,inplace=True)  # ascending 參數為 False 代表重新排序索引 (由大到小) , inplace 參數為 True 代表直接修改原本的 DataFrame
df2

           population
city name
高雄市  鳳山區       359125
     前鎮區       189623
     三民區       343203
桃園市  桃園區       441287
     八德區       198473
新北市  永和區       222531
     板橋區       551452
     新店區       302070
台南市  安南區       192327
台北市  大安區       309835
     信義區       225561
     中正區       159598
台中市  北屯區       275207

In [35]:
df = pd.read_csv("dists.csv", encoding="utf8")
ordinals =["first", "second", "third", "fourth", "fifth",
           "sixth", "seventh", "eigth", "ninth", "tenth",
           "eleventh", "twelvth", "thirteenth"]  
df.index = ordinals
print(df[df.city == "台北市"]) # select rows where city is "台北市"
print(df[df.population > 350000])   # 選擇population大於350000的資料
print(df[df["city"].isin(["台北市", "高雄市"])]) # 選擇city為台北市或高雄市的資料
print(df[(df.population > 350000) & (df.population < 500000)]) # 選擇population大於350000且小於500000的資料
print(df[df["city"].str.startswith("南")])  # 選擇city開頭為南的資料

        name  population city
first    中正區      159598  台北市
seventh  大安區      309835  台北市
twelvth  信義區      225561  台北市
         name  population city
second    板橋區      551452  新北市
third     桃園區      441287  桃園市
eleventh  鳳山區      359125  高雄市
         name  population city
first     中正區      159598  台北市
sixth     三民區      343203  高雄市
seventh   大安區      309835  台北市
tenth     前鎮區      189623  高雄市
eleventh  鳳山區      359125  高雄市
twelvth   信義區      225561  台北市
         name  population city
third     桃園區      441287  桃園市
eleventh  鳳山區      359125  高雄市
Empty DataFrame
Columns: [name, population, city]
Index: []

In [51]:
df = pd.read_csv("dists.csv", encoding="utf8")
ordinals =["first", "second", "third", "fourth", "fifth",
           "sixth", "seventh", "eigth", "ninth", "tenth",
           "eleventh", "twelvth", "thirteenth"]  
df.index = ordinals
df[df["city"].str.startswith("桃")]  # 找出城市名以 "桃" 開頭的資料 start只能用在str上

      name  population city
third  桃園區      441287  桃園市
ninth  八德區      198473  桃園市

In [105]:
df = pd.read_csv("dists.csv", encoding="utf8")
ordinals =["first", "second", "third", "fourth", "fifth",
           "sixth", "seventh", "eigth", "ninth", "tenth",
           "eleventh", "twelvth", "thirteenth"]  
df.index = ordinals
df[df["city"].str.startswith("台")] # 找出城市名以 "台" 開頭的資料 start只能用在str上

        name  population city
first    中正區      159598  台北市
fourth   北屯區      275207  台中市
fifth    安南區      192327  台南市
seventh  大安區      309835  台北市
twelvth  信義區      225561  台北市

In [106]:
df.reset_index(inplace=True) # 重設索引
df

         index name  population city
0        first  中正區      159598  台北市
1       second  板橋區      551452  新北市
2        third  桃園區      441287  桃園市
3       fourth  北屯區      275207  台中市
4        fifth  安南區      192327  台南市
5        sixth  三民區      343203  高雄市
6      seventh  大安區      309835  台北市
7        eigth  永和區      222531  新北市
8        ninth  八德區      198473  桃園市
9        tenth  前鎮區      189623  高雄市
10    eleventh  鳳山區      359125  高雄市
11     twelvth  信義區      225561  台北市
12  thirteenth  新店區      302070  新北市

In [107]:
df.drop('index', axis=1, inplace=True) # 刪除 index 這個欄位
df

   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [108]:
# 將name 改成 area
df.rename(columns={'name': 'area',}, inplace=True)
df

   area  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [114]:
s = ["新莊區", 416640, "新北市"]  # create a list of values
df.loc[df.index[1]] = s # 
df.drop(df.index[12], inplace=True) # drop the row with index 12
df

   area  population city
0   中正區      159598  台北市
1   新莊區      416640  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市

In [137]:
import numpy as np      
df.loc[:, "population"] = np.random.randint(34000, 700000, size=len(df)) # random 亂數產生 population 資料
print(df)

   area  population city
0   中正區      207999  台北市
1   新莊區      339076  新北市
2   桃園區      191999  桃園市
3   北屯區      644605  台中市
4   安南區      692844  台南市
5   三民區      152024  高雄市
6   大安區      497571  台北市
7   永和區      272997  新北市
8   八德區      360850  桃園市
9   前鎮區      192437  高雄市
10  鳳山區      477585  高雄市
11  信義區      433403  台北市