In [1]:
import pandas as pd

dists = {"name": ["中正區", "板橋區", "桃園區", "北屯區", 
                   "安南區", "三民區", "大安區", "永和區", 
                   "八德區", "前鎮區", "鳳山區", 
                   "信義區", "新店區"],
         "population": [159598, 551452, 441287, 275207,
                        192327, 343203, 309835, 222531,
                        198473, 189623, 359125, 
                        225561, 302070],
         "city": ["台北市", "新北市", "桃園市", "台中市",
                  "台南市", "高雄市", "台北市", "新北市",
                  "桃園市", "高雄市", "高雄市",
                  "台北市", "新北市"]}
df = pd.DataFrame(dists) 

df.to_csv("dists.csv", index=False, encoding="utf8")
df.to_json("dists.json")

In [2]:
# 匯入CSV格式的檔案
df = pd.read_csv("dists.csv", encoding="utf8")
print(df)
df.to_html("ch2_4.html")
print("---------------------------")
# 匯入JSON格式的檔案
df2 = pd.read_json("dists.json")
print(df2)
df2.to_html("ch2_4_json.html")

   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市
---------------------------
   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [3]:
print(df.head(5)) # print the first 5 rows of the dataframe

  name  population city
0  中正區      159598  台北市
1  板橋區      551452  新北市
2  桃園區      441287  桃園市
3  北屯區      275207  台中市
4  安南區      192327  台南市

In [4]:
print(df.tail(5)) # last 5 rows

   name  population city
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [5]:
df = pd.read_csv("dists.csv", encoding="utf8")
df =df[df.index == 0] # 印出索引第0筆資料
df

  name  population city
0  中正區      159598  台北市

In [6]:
df = pd.read_csv("dists.csv", encoding="utf8")
df

   name  population city
0   中正區      159598  台北市
1   板橋區      551452  新北市
2   桃園區      441287  桃園市
3   北屯區      275207  台中市
4   安南區      192327  台南市
5   三民區      343203  高雄市
6   大安區      309835  台北市
7   永和區      222531  新北市
8   八德區      198473  桃園市
9   前鎮區      189623  高雄市
10  鳳山區      359125  高雄市
11  信義區      225561  台北市
12  新店區      302070  新北市

In [7]:
df =df[df.values == '信義區']  # 用values來篩選出'信義區'的資料
df

   name  population city
11  信義區      225561  台北市

In [8]:
df = pd.read_csv("dists.csv", encoding="utf8")
df = [df['name']]  # 印出 name的column
df

[0     中正區
 1     板橋區
 2     桃園區
 3     北屯區
 4     安南區
 5     三民區
 6     大安區
 7     永和區
 8     八德區
 9     前鎮區
 10    鳳山區
 11    信義區
 12    新店區
 Name: name, dtype: object]

In [9]:
df = pd.read_csv("dists.csv", encoding="utf8")
df.loc[[0],['population','city']]  # 以索引及欄位'名稱'取得資料  印出第0行的population與city

   population city
0      159598  台北市

In [10]:
df = pd.read_csv("dists.csv", encoding="utf8")
df.iloc[0:5,0:2]  # 以索引及欄位'編號'取得資料 前5rows 的 前2columns

  name  population
0  中正區      159598
1  板橋區      551452
2  桃園區      441287
3  北屯區      275207
4  安南區      192327

In [11]:
df = pd.read_csv("dists.csv", encoding="utf8")
df.iloc[[1,2,4],[0,2]]  #以索引及欄位 '編號' name,city，取出第1、2、4行的資料

  name city
1  板橋區  新北市
2  桃園區  桃園市
4  安南區  台南市

In [12]:
# 用 iterrows() 方法 ,for loop迭代DataFrame的每一行
for index, row in df.iterrows() :
    print(index, row["city"], row["name"], row["population"])

0 台北市 中正區 159598
1 新北市 板橋區 551452
2 桃園市 桃園區 441287
3 台中市 北屯區 275207
4 台南市 安南區 192327
5 高雄市 三民區 343203
6 台北市 大安區 309835
7 新北市 永和區 222531
8 桃園市 八德區 198473
9 高雄市 前鎮區 189623
10 高雄市 鳳山區 359125
11 台北市 信義區 225561
12 新北市 新店區 302070

In [13]:
df = pd.read_csv("dists.csv", encoding="utf8")
df.iat[0,1]  # 用 iat 只能取得單行取得 台北市中正區的距離

159598

In [16]:
df = pd.read_csv("dists.csv", encoding="utf8")
df.at[0,'population']
labels = ['零', '一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二']
df.index = labels
df

   name  population city
零   中正區      159598  台北市
一   板橋區      551452  新北市
二   桃園區      441287  桃園市
三   北屯區      275207  台中市
四   安南區      192327  台南市
五   三民區      343203  高雄市
六   大安區      309835  台北市
七   永和區      222531  新北市
八   八德區      198473  桃園市
九   前鎮區      189623  高雄市
十   鳳山區      359125  高雄市
十一  信義區      225561  台北市
十二  新店區      302070  新北市

In [15]:
df = pd.read_csv("dists.csv", encoding="utf8")
df.at[0,'city'] # df.at[label, column] 只能取得一個值 取得第0行的population值 標籤必須是數字

'台北市'