In [17]:
import pandas as pd
df = pd.read_csv("dists.csv", encoding="utf8")
print(df.head())  # 印出前五筆資料
print(df.shape)  # 印出資料的形狀 (13, 3)

  name  population city
0  中正區      159598  台北市
1  板橋區      551452  新北市
2  桃園區      441287  桃園市
3  北屯區      275207  台中市
4  安南區      192327  台南市
(13, 3)

In [43]:
df2 = df.set_index("city") # 將 "city" 列作為索引
print(df2.head())
print("---------------------------")
df3 =df2.reset_index() # 重設索引
print(df3)
# df3 = df2.reset_index()
# print(df3.head())

     name  population
city
台北市   中正區      159598
新北市   板橋區      551452
桃園市   桃園區      441287
台中市   北屯區      275207
台南市   安南區      192327
---------------------------
   city name  population
0   台北市  中正區      159598
1   新北市  板橋區      551452
2   桃園市  桃園區      441287
3   台中市  北屯區      275207
4   台南市  安南區      192327
5   高雄市  三民區      343203
6   台北市  大安區      309835
7   新北市  永和區      222531
8   桃園市  八德區      198473
9   高雄市  前鎮區      189623
10  高雄市  鳳山區      359125
11  台北市  信義區      225561
12  新北市  新店區      302070

In [50]:
df2 = df.set_index(["city","name"]) #以 city 和 name 為索引
df2.sort_index(ascending=False,inplace=True)  # ascending 參數為 False 代表重新排序索引 (由大到小) , inplace 參數為 True 代表直接修改原本的 DataFrame
df2

           population
city name
高雄市  鳳山區       359125
     前鎮區       189623
     三民區       343203
桃園市  桃園區       441287
     八德區       198473
新北市  永和區       222531
     板橋區       551452
     新店區       302070
台南市  安南區       192327
台北市  大安區       309835
     信義區       225561
     中正區       159598
台中市  北屯區       275207